/* Your CSS styles here! */
* {
    font-family: monospace, sans-serif, Arial;
    font-size: 16px;
    font-weight: 400
}
body {
    margin:0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
}
h2{
    font-size: 1.5rem;
}
h3 {
    font-size: 1rem;
}
